.gitignore
tutorial/
fpga_project/ise/*
!fpga_project/ise/*.xise
fpga_project/tests/*
!fpga_project/tests/*.wfcg
!fpga_project/tests/*.v
!fpga_project/tests/*.mcs
interface_board/interface_board-backups/*.zip
measurements/*.jpeg
beszamolo/.synctex.gz
beszamolo/.out
beszamolo/.tcp
beszamolo/.thm
6502_emu/*
!6502_emu/*.c
!6502_emu/*.h
