.gitignore
tutorial/
fpga_project/ise/*.wdb
fpga_project/ise/iseconfig
fpga_project/ise/templates
fpga_project/ise/_xmsgs
fpga_project/ise/*.html
fpga_project/ise/*.gise
fpga_project/ise/*.log
fpga_project/ise/*.xwbt
fpga_project/ise/*.ncd
fpga_project/ise/*.lso
fpga_project/tests/*
!fpga_project/tests/*.wfcg
!fpga_project/tests/*.v
!fpga_project/tests/*.mcs
interface_board/interface_board-backups/*.zip
measurements/*.jpeg
beszamolo/*
!beszamolo/*.tex
!beszamolo/*.pdf
!beszamolo/*.ldf
!beszamolo/*.bib
!beszamolo/figures
!beszamolo/appendices
6502_emu/*
!6502_emu/*.c
!6502_emu/*.h
