NET "clk" 			LOC="p126";

// SERIAL IN
NET "DATA_IN"		LOC="p121" | PULLUP;	//DATA_IN
NET "CLK_IN"		LOC="p120" | PULLUP;	//CLK_IN
NET "RESET_IN"		LOC="p119" | PULLUP;	//RESET_IN
NET "ATN_IN"		LOC="p118" | PULLUP;	//ATN_IN
NET "SRQ_IN"		LOC="p117" | PULLUP;	//SRQ_IN

// SERIAL OUT
NET "SRQ_OUT" 		LOC="p132";	//SRQ_OUT
NET "CLK_OUT" 		LOC="p131";	//CLK_OUT
NET "DATA_OUT" 	LOC="p124";	//DATA_OUT

// FLOPPY IN
NET "INDEX"			LOC="p143" | PULLUP;	//INDEX
NET "REDWC_IN"		LOC="p142" | PULLUP;	//REDWC_IN
NET "TRK00"			LOC="p141" | PULLUP;	//TRK00
NET "WPT"			LOC="p140" | PULLUP;	//WPT
NET "DSKCHG"		LOC="p139" | PULLUP;	//DSKCHG
NET "RDATA"			LOC="p138" | PULLUP;	//RDATA

// FLOPPY OUT
NET "REDWC_OUT"	LOC="p12";	//REDWC_OUT
NET "SIDE1"	 		LOC="p137";	//SIDE1
NET "WGATE" 		LOC="p134";	//WGATE
NET "WDATE" 		LOC="p133";	//WDATE
NET "STEP" 			LOC="p1";	//STEP
NET "DIR" 			LOC="p8";	//DIR
NET "MOTEB" 		LOC="p9";	//MOTEB
NET "DRVSA" 		LOC="p11";	//DRVSA
NET "DRVSB" 		LOC="p10";	//DRVSB
NET "MOTEA" 		LOC="p14";	//MOTEA

// LEDS
NET "PWR_LED" 		LOC="p115";	//POWER LED
NET "ACTION_LED"	LOC="p116";	//DRIVE LED

// SWITCHES
NET "SW0"			LOC="p16";	//SWITCH 0
NET "SW1"			LOC="p17";	//SWITCH 1